---
import ThemeIcon from "@/components/ThemeIcon.astro"
import { Icons } from "@/components/icons"
import { buttonVariants } from "./ui/button"
import { siteConfig } from "../../config/site"
---

<header class="sticky top-0 z-40 w-full bg-background">
    <div
        class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
    >
        <div class="flex gap-6 md:gap-10">
            <a href="/" class="flex items-center space-x-2">
                <span>
                    <img
                        src="/favicon.svg"
                        alt="Jonathan Ruiz logo"
                        width="32"
                        height="32"
                    />
                </span>
                <span class="inline-block font-bold">
                    {siteConfig.name}
                </span>
            </a>
        </div>
        <div class="flex flex-1 items-center justify-end space-x-4">
            <button id="menuToggle" class="block md:hidden">
                <Icons.menu className="h-6 w-6" />
            </button>
            <nav class="hidden md:flex gap-6">
                {
                    siteConfig.mainNav?.map(
                        (item) =>
                            item.href && <a href={item.href}>{item.title}</a>
                    )
                }
            </nav>
            <nav class="flex items-center space-x-1">
                <a
                    href={siteConfig.links.github}
                    target="_blank"
                    rel="noreferrer"
                >
                    <div
                        class={buttonVariants({
                            size: "sm",
                            variant: "ghost"
                        })}
                    >
                        <Icons.gitHub className="h-5 w-5" />
                        <span class="sr-only">GitHub</span>
                    </div>
                </a>
                <ThemeIcon />
            </nav>
        </div>
    </div>
    <div
        id="sidebar"
        class="fixed top-0 right-0 h-full w-full bg-background transform translate-x-full transition-transform md:hidden"
    >
        <div class="flex flex-col p-4">
            <button id="closeSidebar" class="self-end">
                <Icons.x className="h-6 w-6" />
            </button>
            {
                siteConfig.mainNav?.map(
                    (item) =>
                        item.href && (
                            <a href={item.href} class="py-2">
                                {item.title}
                            </a>
                        )
                )
            }
        </div>
    </div>
</header>

<script is:inline>
    const menuToggle = document.getElementById("menuToggle")
    const sidebar = document.getElementById("sidebar")
    const closeSidebar = document.getElementById("closeSidebar")

    menuToggle.addEventListener("click", () => {
        sidebar.classList.toggle("translate-x-full")
    })

    closeSidebar.addEventListener("click", () => {
        sidebar.classList.add("translate-x-full")
    })
</script>
